openapi: 3.2.0
info:
  title: Commissioning Pv Manufacturers API
  version: v4
servers:
- url: https://api.enphaseenergy.com
tags:
- name: PvManufacturers
paths:
  /api/v4/pv_manufacturers:
    get:
      summary: Returns PV module manufacturers
      description: Returns information about the PV module manufacturers known in Enlighten.
      tags:
      - PvManufacturers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pv_manufacturers:
                    type: array
                    description: A list of PV manufacturers. Each element in the list is an array including the model's manufacturer's primary key and name. The list may be empty.
                    items:
                      type: array
                      description: Each item is an array. It contain two values.
                      items:
                        type: object
              example:
                pv_manufacturers:
                - - 106
                  - 1Soltech
                - - 107
                  - AIDE Solar
                - - 108
                  - aleo solar AG
                - - 109
                  - Alps Technology Inc
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
              example:
                reason: '401'
                message:
                - Not authorized to access requested resource.
                - API Key missing in url/headers!
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
              example:
                reason: '405'
                message:
                - Method not allowed
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    description: Response code
                  message:
                    type: array
                    items:
                      type: string
                      description: Error Messages
                  period:
                    type: string
                    description: Quota exceeded for minute/month
                  period_start:
                    type: integer
                    description: Starting period timestamp
                  period_end:
                    type: integer
                    description: Ending period timestamp
                  limit:
                    type: integer
                    description: Limit count for the period
              example:
                reason: '429'
                message:
                - Usage limit exceeded for plan Partner (custom)
                period: minute
                period_start: 1623825660
                period_end: 1623825720
                limit: 5
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
              example:
                reason: '501'
                message:
                - Not Implemented
