{"swagger":"2.0","host":"api-qa2.enphaseenergy.com","schemes":["https"],"info":{"title":"Monitoring API","version":"v4"},"paths":{"/api/v4/systems":{"get":{"summary":"Fetch systems","description":"Returns a list of systems for which the user can make API requests. By default, systems are returned in batches of 10. The maximum size is 100.","tags":["System Details"],"parameters":[{"name":"page","in":"query","type":"integer","description":"The page to be returned. Default=1, Min=1. For example, if page is set to 2, 2nd page is returned"},{"name":"size","in":"query","type":"integer","description":"Maximum number of records shown per page. Default=10, Min=1, Max=100.  For example, if max is set to 5, 5 records are shown per page"},{"name":"sort_by","in":"query","type":"string","enum":["id","-id"],"description":"Returns list of systems sorted by \u003csort_by\u003e field. To get the ASC order sorted list, user sort_by = id. To get the DESC order sorted list, use sort_by = -id. By default, the list is sorted by ascending order of system ID."}],"produces":["application/json"],"responses":{"200":{"description":"List of Systems","schema":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of systems"},"current_page":{"type":"integer","description":"Number of the current page fetched "},"size":{"type":"integer","description":"Maximum number of records shown per page. Default=10, Min=1, Max=100."},"count":{"type":"integer","description":"Total number of systems actually returned for the current page"},"items":{"type":"string","description":"Named key of the list data. In this endpoint, it is systems"},"systems":{"type":"array","items":{"properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"},"name":{"type":"string","description":"Name of the system"},"public_name":{"type":"string","description":"Name displayed on the public system page. Available values are All, Residential System, Commercial etc. Default='Residential System'. Only for systems that allow public access."},"timezone":{"type":"string","description":"Timezone to which the system belongs"},"address":{"type":"object","properties":{"city":{"type":"string","description":"City in which the system is located"},"state":{"type":"string","description":"State in which the system is located"},"country":{"type":"string","description":"Country in which the system is located"},"postal_code":{"type":"string","description":"Postal Code of the system's location"}},"description":"Address object for the system. It can contain the following items"},"connection_type":{"type":"string","description":"Connection Type of the system. Available values are ethernet, Wi-Fi, Cellular"},"energy_lifetime":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"energy_today":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"system_size":{"type":"number","format":"float","description":"Deprecated field. The API will always return this field as -1"},"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."},"attachment_type":{"type":"string","description":"Micro inverter attachment type. Available values are rack_mount, zep, acm, bipv, frame_mount, railless_mount"},"interconnect_date":{"type":"integer","description":"Date on which the system was approved to connect to the grid"},"reference":{"type":"string","description":"If the calling user belongs to a company and that company has provided its own identifier for a system, that ID is included here. Otherwise, this attribute is not returned."},"other_references":{"type":"array","items":{"type":"string"},"description":"If any other companies have provided their own identifiers for a system, those identifiers are included here. Otherwise, this attribute is not returned."}}},"description":"List of systems. It contains the following:"}}},"examples":{"application/json":{"total":28,"current_page":1,"size":2,"count":2,"items":"systems","systems":[{"system_id":698910067,"name":"Enphase System","public_name":"Residential System","timezone":"Australia/Sydney","address":{"city":"Sydney","state":"NSW","country":"AU","postal_code":"2127"},"connection_type":"ethernet","energy_lifetime":-1,"energy_today":-1,"system_size":-1,"status":"micro","last_report_at":1508174262,"last_energy_at":1508174172,"operational_at":1497445200,"attachment_type":null,"interconnect_date":null,"reference":"106015287","other_references":["106015287"]},{"system_id":698906018,"name":"Enphase Public System","public_name":"Residential System","timezone":"US/Pacific","address":{"city":"Los Angeles","state":"CA","country":"US","postal_code":"94954"},"connection_type":"ethernet","energy_lifetime":-1,"energy_today":-1,"system_size":-1,"status":"normal","last_report_at":1508174262,"last_energy_at":1508174172,"operational_at":1497445200,"attachment_type":null,"interconnect_date":null}]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Invalid request because of 'The sorting parameter is not supported. Please use id for sorting by Asc or -id for sorting by Desc'","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/search":{"post":{"summary":"Search and filter systems","description":"Search and filter systems. Provide only valid values in request parameters. Empty values will be ignored. Invalid keys will be rejected.","tags":["System Details"],"parameters":[{"name":"page","in":"query","type":"integer","description":"The page to be returned. Default=1, Min=1, e.g=2"},{"name":"size","in":"query","type":"integer","description":"Maximum number of records shown per page. Default=10, Min=1, Max=1000, e.g=5"},{"name":"live_stream","in":"query","type":"boolean","description":"Indicates whether the live_stream field should be included in the response (true to include, false to omit)."},{"name":"params","in":"body","schema":{"type":"object","properties":{"sort_by":{"type":"string","enum":["id","-id"],"description":"Returns list of systems sorted by \u003csort_by\u003e field. To get ASC order sorted list, user sort_by = id. To get DESC order sorted list, use sort_by = -id. By default, the list is sorted by ascending order of system ID."},"system":{"type":"object","properties":{"ids":{"type":"array","description":"Filter system by particular Ids","items":{"type":"integer"}},"name":{"type":"string","description":"Search by name of the System."},"reference":{"type":"string","description":"Search by reference of the System."},"other_reference":{"type":"string","description":"Search by any other_references of the System."},"statuses":{"type":"array","description":"Search by System status.","items":{"type":"string","enum":["normal","comm","micro","power","meter","battery","storage_idle","meter_issue","enpower","encharge","enpower_issue","encharge_issue"]}}}}},"required":["system"]}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"List of Systems","schema":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of systems available"},"current_page":{"type":"integer","description":"Current page of the systems result. Default is 1"},"size":{"type":"integer","description":"Max number of records from API per page is 100. Default is 10."},"count":{"type":"integer","description":"Total number of systems actually returned for the current page"},"items":{"type":"string","description":"Named key of the list data. In this endpoint, it is systems"},"systems":{"type":"array","items":{"properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"},"name":{"type":"string","description":"Name of the system"},"public_name":{"type":"string","description":"Name displayed on the public system page. Available values are All, Residential System, Commercial etc. Default='Residential System'. Only for systems that allow public access."},"timezone":{"type":"string","description":"Timezone to which the system belongs"},"address":{"type":"object","properties":{"state":{"type":"string","description":"State in which the system is located"},"country":{"type":"string","description":"Country in which the system is located"},"postal_code":{"type":"string","description":"Postal Code of the system's location"}},"description":"Address object for the system. It can contain the following items"},"connection_type":{"type":"string","description":"Connection Type of the system. Available values are ethernet, Wi-Fi, Cellular"},"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."},"attachment_type":{"type":"string","description":"Micro inverter attachment type. Available values are rack_mount, zep, acm, bipv, frame_mount, railless_mount"},"interconnect_date":{"type":"integer","description":"Date on which the system was approved to connect to the grid"},"energy_lifetime":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"energy_today":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"system_size":{"type":"number","format":"float","description":"Deprecated field. The API will always return this field as -1"},"live_stream":{"type":"string","description":"Shows the status live stream via Kafka is enabled or not for the site =\u003e \"enabled\" / \"disabled\""}}},"description":"List of filtered systems. It contains the following items"}}},"examples":{"application/json":{"total":28,"current_page":1,"size":2,"count":2,"items":"systems","systems":[{"system_id":698910067,"name":"Enphase System","public_name":"Residential System","timezone":null,"address":{"state":null,"country":null,"postal_code":null},"connection_type":"ethernet","status":"micro","last_report_at":1557400231,"last_energy_at":null,"operational_at":null,"attachment_type":null,"interconnect_date":null,"energy_lifetime":-1,"energy_today":-1,"system_size":-1,"live_stream":"enabled"},{"system_id":698906018,"name":"Enphase Public System","public_name":"Residential System","timezone":"US/Pacific","address":{"state":"CA","country":"US","postal_code":"94954"},"connection_type":"ethernet","status":"normal","last_report_at":1508174262,"last_energy_at":1508174172,"operational_at":1497445200,"attachment_type":null,"interconnect_date":null,"energy_lifetime":-1,"energy_today":-1,"system_size":-1,"reference":"106015287","other_references":["106015287"],"live_stream":"disabled"}]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"system is missing at Json body location","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}":{"get":{"summary":"Retrieves a System by id","description":"Retrieves a System by ID","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system. If an empty value is passed in the ID, this endpoint behaves as Fetch systems endpoint.","required":true}],"responses":{"200":{"description":"System fetched","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"},"name":{"type":"string","description":"Name of the system"},"public_name":{"type":"string","description":"Name displayed on the public system page. Available values are All, Residential System, Commercial etc. Default='Residential System'. Only for systems that allow public access."},"timezone":{"type":"string","description":"Timezone to which the system belongs"},"address":{"type":"object","properties":{"city":{"type":"string","description":"City in which the system is located"},"state":{"type":"string","description":"State in which the system is located"},"country":{"type":"string","description":"Country in which the system is located"},"postal_code":{"type":"string","description":"Postal Code of the system's location"}},"description":"Address object for the system. It can contain the following items"},"connection_type":{"type":"string","description":"Connection Type of the system. Available values are ethernet, Wi-Fi, Cellular"},"energy_lifetime":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"energy_today":{"type":"integer","description":"Deprecated field. The API will always return this field as -1"},"system_size":{"type":"number","format":"float","description":"Deprecated field. The API will always return this field as -1"},"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."},"attachment_type":{"type":"string","description":"Micro inverter attachment type. Available values are rack_mount, zep, acm, bipv, frame_mount, railless_mount"},"interconnect_date":{"type":"integer","description":"Date on which the system was approved to connect to the grid"},"reference":{"type":"string","description":"If the calling user belongs to a company and that company has provided its own identifier for a system, that ID is included here. Otherwise, this attribute is not returned."},"other_references":{"type":"array","items":{"type":"string"},"description":"If any other companies have provided their own identifiers for a system, those identifiers are included here. Otherwise, this attribute is not returned."}}},"examples":{"application/json":{"system_id":72,"name":"Enphase System","public_name":"Residential System","timezone":"America/Los_Angeles","address":{"city":"Los Angeles","state":"CA","country":"US","postal_code":"94954"},"connection_type":"cellular","energy_lifetime":-1,"energy_today":-1,"system_size":-1,"status":"normal","last_report_at":1445619615,"last_energy_at":1445619033,"operational_at":1357023600,"attachment_type":"acm","interconnect_date":"2012-10-13","reference":"106015287","other_references":["106015287"]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/summary":{"get":{"summary":"Retrieves a system summary","description":"Returns system summary based on the specified system ID and summary date. For historical requests i.e summary date is in the past the fields modules, size_w and current_power are returned as zero.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"summary_date","in":"query","type":"string","description":"Requested date for the system's summary data. Defaults to the current local date of the system","required":false}],"responses":{"200":{"description":"System summary fetched","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"},"current_power":{"type":"integer","description":"Current power production of the system in Watts"},"energy_lifetime":{"type":"integer","description":"Energy generated by the system during its lifetime till one day before to the requested summary date in Wh"},"energy_today":{"type":"integer","description":"Energy generated by the system on requested summary date in Wh"},"last_interval_end_at":{"type":"integer","description":"The last known time that the system produced energy. When a system has not been communicating for a length of time, the last_report_at can be recent, whereas the last_interval_end_at may be further back."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"modules":{"type":"integer","description":"Total number of modules in the system"},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."},"size_w":{"type":"integer","description":"System size in watts"},"nmi":{"type":"integer","description":"National Meter Identifier"},"source":{"type":"string","description":"Source of energy measurement"},"status":{"type":"string","description":"Current status of the system"},"summary_date":{"type":"string","description":"Summary date"},"battery_charge_w":{"type":"integer","description":"Maximum charge power of all the batteries of the system in watts"},"battery_discharge_w":{"type":"integer","description":"Maximum discharge power of all the batteries of the system in watts"},"battery_capacity_wh":{"type":"integer","description":"Total capacity of all the batteries of the system in watt-hours"},"evse_power":{"type":"array","description":"This individual object is a Map with key value pair. Key will be individual serial number and value will be object containing evse_max_charge_w and evse_min_charge_w","items":{"type":"object","properties":{"serial_number":{"type":"object","properties":{"evse_max_charge_w":{"type":"integer","description":"evse_max_charge_w"},"evse_min_charge_w":{"type":"integer","description":"evse_min_charge_w"}}}}}}}},"examples":{"application/json":{"system_id":698910067,"current_power":0,"energy_lifetime":0,"energy_today":0,"last_interval_end_at":1557400231,"last_report_at":1557400231,"modules":5,"operational_at":null,"size_w":1250,"nmi":"1213141516","source":"meter","status":"normal","summary_date":"2019-05-12","battery_charge_w":1280,"battery_discharge_w":1280,"battery_capacity_wh":3360,"evse_power":[{"21458935":{"evse_max_charge_w":440,"evse_min_charge_w":2230}},{"12785966":{"evse_max_charge_w":530,"evse_min_charge_w":1200}}]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/devices":{"get":{"summary":"Retrieves devices for a given system","description":"Retrieves devices for a given system. Only devices that are active will be returned in the response.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true}],"responses":{"200":{"description":"List of devices","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"total_devices":{"type":"integer","description":"Total active devices associated with the System"},"items":{"type":"string","description":"The list key"},"devices":{"type":"object","description":"Hash keys include all the possible device types: micros, meters, gateways, q_relays, ACBs, Encharges, Enpowers, ev_chargers, heat_pump, iq_collars, iq_air, generators (if the devices of this type are present). For all the device types, the object will contain the serial_number and model with some additional information pertaining to the device type.","additionalProperties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"last_report_at":{"type":"integer"},"name":{"type":"string"},"serial_number":{"type":"string"},"part_number":{"type":"string"},"emu_sw_version":{"type":"string"},"sku":{"type":"string"},"model":{"type":"string"},"status":{"type":"string"},"active":{"type":"string"},"state":{"type":"string"},"config_type":{"type":"string"},"config_phase":{"type":"string","description":"Meter phase configuration: 'single' or 'three' (only for production and consumption meters)"},"product_name":{"type":"string"},"feoc_compliant":{"type":"boolean","description":"Foreign Entity of Concern compliant status (only for micros and encharges in US sites)"},"dom_compliant":{"type":"boolean","description":"Domestic Content compliant status (only for micros and encharges in US sites)"}}}}}}},"examples":{"application/json":{"system_id":698910067,"total_devices":11,"items":"devices","devices":{"micros":[{"id":1023273222,"last_report_at":1508174262,"name":"Microinverter 902167438951","serial_number":"902167438951","part_number":"800-01333-r01","sku":"IQ8A-72-2-US","model":"M250","status":"normal","active":true,"product_name":"M250","feoc_compliant":true,"dom_compliant":true},{"id":1023273243,"last_report_at":1508174262,"name":"Microinverter 902372021616","serial_number":"902372021616","part_number":"800-01333-r01","sku":"IQ8A-72-2-US","model":"M250","status":"normal","active":true,"product_name":"M250","feoc_compliant":true,"dom_compliant":true}],"meters":[{"id":1059640322,"last_report_at":1508174262,"name":"production","serial_number":"901553005272EIM1","part_number":"800-00655-r08","sku":null,"model":"Envoy S","status":"normal","active":true,"state":"enabled","config_type":"Production","config_phase":"three","product_name":"RGM"},{"id":1060400473,"last_report_at":1778493953,"name":"consumption","serial_number":"122105037250EIM2","part_number":"800-00655-r09","sku":null,"model":"IQ Envoy","status":"normal","active":true,"state":"enabled","config_type":"Net","config_phase":"single","product_name":"IQ Gateway"}],"gateways":[{"id":1059563029,"last_report_at":1508174262,"name":"Gateway 202323054201","serial_number":"901553005272","part_number":"800-00655-r08","emu_sw_version":"D4.6.11.170403 (799d2d)","sku":"ENV-IQ-AM1-240","model":"Envoy-S-Standard-NA","status":"normal","active":true,"cellular_modem":{"imei":"352009112238477","part_num":"860-00157-r01","sku":"CELLMODEM-M1","plan_start_date":1614796200,"plan_end_date":1772562600},"product_name":"Envoy-S-Metered-EU"}],"q_relays":[{"id":1059640316,"last_report_at":1508174262,"name":"IQ Relay 912158973973","serial_number":"912158973973","part_number":"800-00595-r01","sku":"Q-RELAY-1P-INT","model":"","status":"normal","active":true,"product_name":"IQ Relay"},{"id":1059640326,"last_report_at":1508174262,"name":"IQ Relay 912163603334","serial_number":"912163603334","part_number":"800-00595-r01","sku":"Q-RELAY-1P-INT","model":"","status":"normal","active":true,"product_name":"IQ Relay"}],"acbs":[{"id":1059640321,"last_report_at":1508174262,"name":"AC Battery 911364446952","serial_number":"911364446952","part_number":"800-00560-r03","sku":"IQ7-B1200-LN-I-INT01-RV0","model":"","status":"normal","active":true,"product_name":"ACB"},{"id":1059640321,"last_report_at":1508174262,"name":"AC Battery 911499228280","serial_number":"911499228280","part_number":"800-00560-r03","sku":"IQ7-B1200-LN-I-INT01-RV0","model":"","status":"normal","active":true,"product_name":"ACB"}],"encharges":[{"id":1059640295,"last_report_at":1508174262,"name":"IQ Battery 492312001241","serial_number":"121593621979","part_number":"800-00562-r01","sku":"B03-A01-US00-1-3","model":"","status":"normal","active":true,"product_name":"IQ Battery R3 - 5P","feoc_compliant":true,"dom_compliant":true}],"enpowers":[{"id":1059640294,"last_report_at":1508174262,"name":"IQ System Controller 482218007023","serial_number":"121245173988","part_number":"800-01135-r02","sku":"EP200G101-M240US00","model":"","status":"normal","active":true,"product_name":"IQ System Controller"}],"ev_chargers":[{"id":"","sku":"","status":"normal","serial_number":"25901946","name":"EV Charger_1","model":"Keba_P30","part_number":"","last_report_at":1700074065,"firmware":"","active":true}],"heat_pump":[{"id":"","SKU":"","status":"normal","serial_number":"","name":"Viessmann VitoCal 300G","model":"Expert Net Control 2302","part_number":"","last_report_at":1700074065,"firmware":"","sg_ready_relay":"Expert net control 2302","iq_er":"Nano hub 2","active":true}],"iq_collars":[{"id":1085310043,"last_report_at":1757523711,"name":"IQ Meter Collar 482443008618","serial_number":"482443008618","part_number":"865-00401-r01","sku":"MC-200-011-V01","model":"","status":"normal","active":true,"product_name":"IQ Meter Collar"}],"iq_air":[{"id":"","last_report_at":null,"name":"IQ Air 1223131061889","serial_number":"1223131061889","part_number":"241.124.42 update 8","sku":"update 1","model":"","status":"active","active":true,"product_name":""}],"generators":[{"id":8,"last_report_at":null,"name":"Generator","serial_number":"","part_number":"","sku":"","model":"HNG-01","status":"on","active":true,"product_name":""}]}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"500":{"description":"Internal Server Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Internal Server Error","details":"unable to fetch data","code":500}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/retrieve_system_id":{"get":{"summary":"Retrieve system for a given envoy serial number","description":"Get system ID by passing envoy serial number. If the serial number of a retired envoy is passed in the request param, a 404 Not Found response will be returned.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"serial_num","in":"query","type":"string","description":"Envoy Serial Number","required":true}],"responses":{"200":{"description":"search_system_id","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"}}},"examples":{"application/json":{"system_id":123}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"Envoy not found with this serial number","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Provide envoy serial number","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/events":{"get":{"summary":"To retrieve the list of events for a site","description":"This endpoint is used to retrieve the events for a site. start_time is mandatory and cannot be older than 9 months from the current time.  Maximum 1 week of data can be retrieved in a single call.\n\nAn Event is triggered when a site/device meets a pre-defined set of conditions. Each of these pre-defined set of conditions is called an “Event type”. These conditions are defined at both site and device level, therefore events can be triggered at both site and device level. Each event is associated with an event type.\n\nMost Event types (not all) further have pre-defined configurations. Whenever an Event of a given Event type meets these pre-defined configurations, then the Event triggers an Alarm. An example of pre-defined configuration for an event type is - Event status is “Open” beyond a certain time limit.\n\nEvents are generated when a site or device meets specific, predefined conditions. These conditions are grouped into what we call “Event types.” Each event is always linked to an event type. For example, ‘Gateway not reporting’ is an event type and an event gets created on a site if the gateway stops reporting. Similarly, if a gateway on another site stops reporting, another event is created specific to that site with the same event type.\n\nMany event types (though not all) come with predefined escalation criteria for alarms. When an event meets these configurations, it can trigger an alarm. For example, a common configuration might specify that an event should trigger an alarm if its status remains “Open” beyond a certain time threshold.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system.","required":true},{"name":"start_time","in":"query","type":"integer","description":"Requested start time of the events data in Epoch time format.","required":true},{"name":"end_time","in":"query","type":"integer","description":"Requested end time of the events data in Epoch time format. Defaults to minimum (start time + 1 day, current time)"}],"responses":{"200":{"description":"List of events","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system."},"events":{"type":"object","description":"List of events","additionalProperties":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","description":"Represents the current status of the event. Possible values are: Info, Open, and Closed. Transient events have a status of Info. Stateful events are Open if event_end_time is null, and Closed if event_end_time is not null."},"event_type_id":{"type":"integer","description":"Indicates the type of event to which the current event belongs."},"event_start_time":{"type":"integer","description":"Timestamp when the event started (Unix Epoch)"},"event_end_time":{"type":"integer","description":"Timestamp when the event was cleared (Unix Epoch)"},"serial_number":{"type":"string","description":"Serial number of the impacted device."}}}}}}},"examples":{"application/json":{"events":[{"status":"Closed","event_type_id":28,"event_start_time":1740213328,"event_end_time":1740373425,"serial_number":"202241095486"}],"system_id":701644354}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"start_time is required","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/alarms":{"get":{"summary":"To retrieve the list of alarms for a site","description":"This endpoint is used to retrieve the alarms for a site. start_time is mandatory and cannot be older than 9 months from the current time.  Maximum 1 week of data can be retrieved in a single call.\n\nMany event types (though not all) come with predefined escalation criteria for alarms. When an event meets these configurations, it can trigger an alarm. For example, a common configuration might specify that an event should trigger an alarm if its status remains “Open” beyond a certain time threshold.\n\nAn Alarm is always tied to an Event, and the relationship between them can be one-to-one or one-to-many. For instance, if a site has a single battery and its State of Charge (SOC) drops below a predefined threshold, an event is created. If the SOC remains below that threshold for a specified duration, an alarm is triggered for that battery. In another scenario, if a site has multiple batteries and all of them fall below the SOC threshold, individual events are created for each battery. If the low SOC condition persists across all batteries for the defined time period, a single alarm may be triggered for all of them.\n\nThis means:\n\n- An alarm can be associated with multiple events.\n\n- But an event can be associated with only one alarm.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system.","required":true},{"name":"start_time","in":"query","type":"integer","description":"Requested start time of the alarms data in Epoch time format.","required":true},{"name":"end_time","in":"query","type":"integer","description":"Requested end time of the alarms data in Epoch time format. Defaults to minimum (start time + 1 day, current time)"},{"name":"cleared","in":"query","type":"boolean","description":"Filters alarms based on their status. Set to true to return cleared alarms; defaults to false to return active alarms."}],"responses":{"200":{"description":"List of alarms","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system."},"alarms":{"type":"object","description":"List of alarms","additionalProperties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique alarm identifier."},"event_type_id":{"type":"integer","description":"Associated event type ID"},"cleared":{"type":"boolean","description":"Alarm status (false = not cleared, true = cleared)."},"alarm_start_time":{"type":"integer","description":"Timestamp when the alarm was first triggered (Unix Epoch)."},"alarm_end_time":{"type":"integer","description":"Timestamp when the alarm was cleared (Unix Epoch)"},"severity":{"type":"integer","description":"Severity level of the alarm: FATAL = 1; ERROR = 2; WARNING = 3; INFO = 4; DEBUG = 5; NONE = 6."},"events":{"type":"object","description":"List of devices impacted by the alarm.","additionalProperties":{"type":"array","items":{"type":"object","properties":{"serial_number":{"type":"string","description":"Device serial number."},"start_date":{"type":"integer","description":"Event start timestamp (Unix Epoch)."},"end_date":{"type":"integer","description":"Event cleared timestamp (Unix Epoch)."}}}}}}}}}}},"examples":{"application/json":{"alarms":[{"id":"1082701398","cleared":false,"severity":4,"events":[{"serial_number":"202241095486","start_date":1737750626,"end_date":1737866703}],"event_type_id":28,"alarm_start_time":1737750626,"alarm_end_time":null}],"system_id":701644354}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"start_time is required","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/event_types":{"get":{"summary":"To retrieve the list of event_type_id along with event_description and recommended_action","description":"This endpoint is used to retrieve the list of all available event_types. The endpoint will return list of event_type_id along with the event_description and recommended_action. If an event_type_id is passed, this endpoint will return the detail of specific event_type","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"event_type_id","in":"query","type":"integer","description":"The unique numeric ID of the event type."}],"responses":{"200":{"description":"The list of event_types","schema":{"type":"object","properties":{"event_types":{"type":"object","description":"The list of event_types","additionalProperties":{"type":"array","items":{"type":"object","properties":{"event_type_id":{"type":"integer","description":"Unique identifier of the event type."},"event_type_key":{"type":"integer","description":"Another unique identifier of the event type."},"stateful":{"type":"boolean","description":"Event state (true = stateful, false = transient)"},"event_name":{"type":"string","description":"Name of the event"},"event_description":{"type":"string","description":"Description of the event"},"recommended_action":{"type":"string","description":"Available recommended action for this event"}}}}}}},"examples":{"application/json":{"event_types":[{"event_type_id":28,"event_type_key":"envoy_no_report","stateful":true,"event_name":"Gateway not reporting","event_description":"The broadband Internet connection that the Enphase gateway uses to communicate to the Enphase servers is experiencing a problem.","recommended_action":"Check that your gateway and Internet router are plugged in and that the site's Internet service is not experiencing an outage."},{"event_type_id":4781,"event_type_key":"acb_sleeping","stateful":false,"event_name":"AC Battery Sleeping","event_description":"AC Battery has entered the target state of charge band. Cleared when the battery exits the state of charge target, or sleep mode is removed.","recommended_action":"No action is required."}]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"Event type not found for {:id=\u003e\"12345\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/open_events":{"get":{"summary":"To retrieve the list of all open events of a site","description":"This endpoint is used to retrieve all the open events of a site.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system.","required":true}],"responses":{"200":{"description":"List of events","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system."},"events":{"type":"object","description":"List of events","additionalProperties":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","description":"Represents the current status of the event. Possible values are: Info, Open, and Closed. Transient events have a status of Info. Stateful events are Open if event_end_time is null, and Closed if event_end_time is not null. Since this API returns only the open events, the value will always be open."},"event_type_id":{"type":"integer","description":"Indicates the type of event to which the current event belongs."},"event_start_time":{"type":"integer","description":"Timestamp when the event started (Unix Epoch)"},"event_end_time":{"type":"integer","description":"Timestamp when the event was cleared (Unix Epoch). Since this API returns only the open events, the value will always be null"},"serial_number":{"type":"string","description":"Serial number of the impacted device."}}}}}}},"examples":{"application/json":{"events":[{"status":"open","event_type_id":28,"event_start_time":1740213328,"event_end_time":null,"serial_number":"202241095486"}],"system_id":701644354}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/open_alarms":{"get":{"summary":"To retrieve the list of all open alarms of a site","description":"This endpoint is used to retrieve all the open alarms of a site.","tags":["System Details"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system.","required":true}],"responses":{"200":{"description":"List of alarms","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system."},"alarms":{"type":"object","description":"List of alarms","additionalProperties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique alarm identifier."},"event_type_id":{"type":"integer","description":"Associated event type ID"},"alarm_start_time":{"type":"integer","description":"Timestamp when the alarm was first triggered (Unix Epoch)."},"severity":{"type":"integer","description":"Severity level of the alarm: FATAL = 1; ERROR = 2; WARNING = 3; INFO = 4; DEBUG = 5; NONE = 6."},"events":{"type":"object","description":"List of devices impacted by the alarm.","additionalProperties":{"type":"array","items":{"type":"object","properties":{"serial_number":{"type":"string","description":"Device serial number."},"start_date":{"type":"integer","description":"Event start timestamp (Unix Epoch)."},"end_date":{"type":"integer","description":"Event cleared timestamp (Unix Epoch)."}}}}}}}}}}},"examples":{"application/json":{"alarms":[{"id":"698957008.8.1766109572000","severity":2,"events":[{"serial_number":"202241095486","start_date":1737750626,"end_date":null}],"event_type_id":28,"alarm_start_time":1737750626}],"system_id":701644354}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/production_meter_readings":{"get":{"summary":"production_meter_readings","description":"Returns the last known reading of each production meter on the system as of the requested time, regardless of whether the meter is currently in service or retired. \n Read_at is the time at which the reading was taken, and is always less than or equal to the requested end_at. Commonly, the reading will be within 30 minutes of the requested end_at. However, larger deltas can occur and do not necessarily mean there is a problem with the meter or the system. Systems that are configured to report infrequently can show large deltas on all meters, especially when end_at is close to the current time. Meters that have been retired from a system will show an end_at that doesn’t change, and that eventually is far away from the current time.","tags":["Site Level Production Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"end_at","in":"query","type":"integer","description":"End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"}],"responses":{"200":{"description":"production_meter_readings","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"meter_readings":{"type":"array","items":{"properties":{"serial_number":{"type":"string","description":"the serial number of the meter"},"value":{"type":"integer","description":"the meter reading, in Wh"},"read_at":{"type":"integer","description":"the time when the reading was taken, always prior or equal to the requested 'end_at'"}}},"description":"Production Meter Readings"},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."}}},"examples":{"application/json":{"system_id":66,"meter_readings":[{"serial_number":"123123123123EIM1","value":6180635,"read_at":1473901200}],"meta":{"status":"normal","last_report_at":1473902079,"last_energy_at":1473901200,"operational_at":1357023600}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Failed to parse date 1613543106","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/consumption_meter_readings":{"get":{"summary":"consumption_meter_readings","description":"Returns the last known reading of each consumption meter on the system as of the requested time, regardless of whether the meter is currently in service or retired. Read_at is the time at which the reading was taken, and is always less than or equal to the requested end_at. Commonly, the reading will be within 30 minutes of the requested end_at. However, larger deltas can occur and do not necessarily mean there is a problem with the meter or the system. Systems that are configured to report infrequently can show large deltas on all meters, especially when end_at is close to the current time. Meters that have been retired from a system will show an end_at that doesn’t change, and that eventually is far away from the current time.","tags":["Site Level Consumption Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"end_at","in":"query","type":"integer","description":"End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"}],"responses":{"200":{"description":"consumption_meter_readings","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"meter_readings":{"type":"array","items":{"properties":{"serial_num":{"type":"string","description":"the serial number of the meter"},"value":{"type":"integer","description":"the meter reading, in Wh"},"read_at":{"type":"integer","description":"the time when the reading was taken, always prior or equal to the requested 'end_at'"}}},"description":"Consumption Meter Readings"},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."}}},"examples":{"application/json":{"system_id":66,"meter_readings":[{"serial_num":"123123123123EIM2","value":6180635,"read_at":1473901200}],"meta":{"status":"normal","last_report_at":1473902079,"last_energy_at":1473901200,"operational_at":1357023600}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Failed to parse date 1613543106","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/storage_meter_readings":{"get":{"summary":"storage_meter_readings","description":"Returns the last known reading of each storage meter on the system as of the requested time, regardless of whether the meter is currently in service or retired. Read_at is the time at which the reading was taken, and is always less than or equal to the requested end_at. Commonly, the reading will be within 30 minutes of the requested end_at. However, larger deltas can occur and do not necessarily mean there is a problem with the meter or the system. Systems that are configured to report infrequently can show large deltas on all meters, especially when end_at is close to the current time. Meters that have been retired from a system will show an end_at that doesn’t change, and that eventually is far away from the current time.","tags":["Site Level Consumption Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"end_at","in":"query","type":"integer","description":"End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"}],"responses":{"200":{"description":"storage_meter_readings","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"meter_readings":{"type":"array","items":{"properties":{"serial_num":{"type":"string","description":"the serial number of the meter"},"value_charged":{"type":"integer","description":"the meter reading for energy charged, in Wh"},"value_discharged":{"type":"integer","description":"the meter reading for energy discharged, in Wh"},"read_at":{"type":"integer","description":"the time when the reading was taken, always prior or equal to the requested 'end_at'"}}},"description":"Storage Meter Readings"},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."}}},"examples":{"application/json":{"system_id":66,"meter_readings":[{"serial_num":"482520034566EIM4","value_charged":137436,"value_discharged":2689,"read_at":1762753711}],"meta":{"status":"normal","last_report_at":1473902079,"last_energy_at":1473901200,"operational_at":1357023600}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Failed to parse date 1613543106","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/rgm_stats":{"get":{"summary":"rgm_stats","description":"Returns performance statistics as measured by the revenue-grade meters installed on the specified system. If the total duration requested is more than one week, returns one week of intervals. Intervals are 15 minutes in length and start at the top of the hour.\n Requests for times that do not fall on the 15-minute marks are rounded down. For example, a request for 08:01, 08:08, 08:11, or 08:14 (in epoch format) is treated as a request for 08:00 (in epoch format). Intervals are listed by their end times in epoch format.\n The requested date range in one API hit cannot be more than 7 days and the requested start at must be within 2 years from current time. If the start_at specified is earlier than the system’s first reported date, then midnight of the system’s first reported date is considered as start_at. Empty list will be returned if the last interval \u003c requested start time \u003c current time.","tags":["Site Level Production Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The numeric id of the system","required":true},{"name":"start_at","in":"query","type":"integer","description":"Start of period to report on in Unix epoch time. If no start is specified, the assumed start is midnight today, in the timezone of the system. If the start is earlier than the system’s operational_date, the response data begins at midnight of the first reported interval date."},{"name":"end_at","in":"query","type":"integer","description":"End of reporting period in Unix epoch time. If no end is specified, default to the time of the request or (start time + 1 week), whichever is earlier. If the end is later than the last reported interval the response data ends with the last reported interval."}],"responses":{"200":{"description":"rgm_stats","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"total_devices":{"type":"integer","description":"Number of active production meters for this system."},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."},"intervals":{"type":"array","items":{"properties":{"end_at":{"type":"integer","description":"End time of the telemetry interval."},"devices_reporting":{"type":"integer","description":"Number of production meters that reported data for this interval at the time of the request."},"wh_del":{"type":"integer","description":"Energy delivered during this interval, in Wh."}}},"description":"A list of intervals between the requested start and end times."},"meter_intervals":{"type":"array","items":{"properties":{"meter_serial_number":{"type":"string","description":"Meter serial number"},"envoy_serial_number":{"type":"string","description":"Enovy serial number of the system that the meter reports to"},"intervals":{"type":"array","items":{"properties":{"channel":{"type":"integer","description":"The reporting channel id"},"end_at":{"type":"integer","description":"End time of the telemetry interval."},"wh_del":{"type":"integer","description":"Energy delivered during this interval, in Wh (Watt-Hour)."},"curr_w":{"type":"integer","description":"Power delivered during this interval, in W (Watts)."}}},"description":"Individual meter level interval."}}},"description":"A list of intervals of a meter between the requested start and end times."}}},"examples":{"application/json":{"system_id":66,"total_devices":2,"meta":{"status":"normal","last_report_at":1470087000,"last_energy_at":1470086106,"operational_at":1357023600},"intervals":[{"end_at":1384122700,"wh_del":50,"devices_reporting":2},{"end_at":1384123600,"wh_del":100,"devices_reporting":2},{"end_at":1384124500,"wh_del":15,"devices_reporting":2},{"end_at":1384125400,"wh_del":21,"devices_reporting":2},{"end_at":1384126300,"wh_del":34,"devices_reporting":2}],"meter_intervals":[{"meter_serial_number":"1218676784","envoy_serial_number":"1218347675","intervals":[{"channel":1,"end_at":1384122700,"wh_del":30,"curr_w":120},{"channel":1,"end_at":1384123600,"wh_del":50,"curr_w":200},{"channel":1,"end_at":1384124500,"wh_del":10,"curr_w":40},{"channel":1,"end_at":1384125400,"wh_del":10,"curr_w":40},{"channel":1,"end_at":1384126300,"wh_del":20,"curr_w":80}]},{"meter_serial_number":"1218676791","envoy_serial_number":"1218347675","intervals":[{"channel":1,"end_at":1384122700,"wh_del":20,"curr_w":80},{"channel":1,"end_at":1384123600,"wh_del":50,"curr_w":200},{"channel":1,"end_at":1384124500,"wh_del":5,"curr_w":20},{"channel":1,"end_at":1384125400,"wh_del":11,"curr_w":44},{"channel":1,"end_at":1384126300,"wh_del":14,"curr_w":56}]}]}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Requested date range is invalid for this system","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"500":{"description":"Under some conditions, data for a given period may be temporarily unavailable. When this condition is detected, the response code is 500 and the response body is:","schema":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Error Code"},"errorMessages":{"type":"array","description":"Error Messages","items":{"type":"string"}}}},"examples":{"application/json":{"errorCode":7,"errorMessages":["Data is temporarily unavailable"]}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/consumption_lifetime":{"get":{"summary":"consumption_lifetime","description":"Returns a daily time series of energy consumption as measured by the consumption meter installed on the specified system. All measurements are in Watt hours.\n The time series includes one entry for each day from the start_date to the end_date. There are no gaps in the time series. If the response includes trailing zeroes, such as [909, 4970, 0, 0, 0], then no data has been reported for the last three days.","tags":["Site Level Consumption Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"start_date","in":"query","type":"string","description":"Requested start date of the time series data. Defaults to the system’s operational date. If the start_date is earlier than the system’s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."},{"name":"end_date","in":"query","type":"string","description":"End date of the time series data. Defaults to yesterday if start_date is earlier than the system’s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."}],"responses":{"200":{"description":"consumption_lifetime","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"The unique numeric ID of the system"},"start_date":{"type":"string","description":"When no start_date parameter is specified on the request, defaults to the operational_date of the system. May be null if system has never produced. When a start_date parameter is included in the request, the same is included in the response"},"consumption":{"type":"array","description":"An array of consumption measurements in Wh, one for each day since consumption metering began, or one for each day of the requested period","items":{"type":"integer"}},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."}}},"examples":{"application/json":{"system_id":66,"start_date":"2016-08-01","consumption":[15422,15421,17118,18505,18511,18487],"meta":{"status":"normal","last_report_at":1470087000,"last_energy_at":1470086106,"operational_at":1357023600}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Requested date is in the future","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/energy_lifetime":{"get":{"summary":"energy_lifetime","description":"Returns a daily time series of energy produced by the system over its lifetime. All measurements are in Watt hours.\n The time series includes one entry for each day from the start_date to the end_date with no gaps in the time series. If the response includes trailing zeroes, such as [909, 4970, 0, 0, 0], then no energy has been reported for the last days in the series.\n If the system has a meter, the time series includes data as measured by the microinverters until the first full day after the meter has been installed. Later, it switches to using the data as measured by the meter. This is called the “merged time series.”  The attribute “meter_start_date” indicates the time when the meter measurements begin to be used. You can retrieve the complete time series from the meter and from the microinverters by adding the parameter production=all to the request.","tags":["Site Level Production Monitoring"],"produces":["application/json"],"parameters":[{"name":"system_id","in":"path","type":"integer","description":"The unique numeric ID of the system","required":true},{"name":"start_date","in":"query","type":"string","description":"Start date of the time series data. Defaults to the system’s operational date. If the start_date is earlier than the system’s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."},{"name":"end_date","in":"query","type":"string","description":"End date of the time series data. Defaults to yesterday if start_date is earlier than the system’s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."},{"name":"production","in":"query","type":"string","description":"When “all”, returns the merged time series plus the time series as reported by the microinverters and the meter on the system. Other values are ignored."}],"responses":{"200":{"description":"When the query parameters include “production=all”, returns meter and microinverter-measured time series:","schema":{"type":"object","properties":{"system_id":{"type":"integer","description":"System id"},"start_date":{"type":"string","description":"When no start_date parameter is specified on the request, this is the operational_date of the system. May be null if system has never produced. When a start_date parameter is included in the request, it is included here in the response."},"meter_start_date":{"type":"integer","description":"The first day in the time series when measurements are taken from a meter instead of from microinverters. This field is not present unless the system has a meter."},"production":{"type":"array","description":"An array of production measurements, one for each day since the system started producing, or one for each day of the requested period. If the system has never produced energy, the array may be empty.","items":{"type":"integer"}},"meta":{"type":"object","properties":{"status":{"type":"string","description":"System's status. Corresponding Enlighten values can be found in table added at the end of page."},"last_report_at":{"type":"integer","description":"Timestamp (in epoch format) at which the system's Envoy last submitted a report"},"last_energy_at":{"type":"integer","description":"Timestamp (in epoch format) at which the systems's produced energy was last reported. Even if the last produced energy is 0, its timestamp will be returned."},"operational_at":{"type":"integer","description":"Timestamp (in epoch format) at which this system became operational. Corresponds to the system’s interconnect time, if one is specified. Otherwise, it is the system’s first reported interval end time."}},"description":"Information about the system such as its status, when it became operational and last reported to Envoy."}}},"examples":{"application/json":{"system_id":66,"start_date":"2013-01-01","meter_start_date":"2013-01-04","production":[15422,15421,17118,18505,18511,18487],"micro_production":[15422,15421,17118,18513,18520,18494],"meter_production":[0,0,11388,18505,18511,18487],"meta":{"status":"normal","last_report_at":1445619615,"last_energy_at":1445619033,"operational_at":1357023600}}}},"401":{"description":"Authentication Error","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Authorized","details":"User is not authorized","code":401}}},"403":{"description":"Forbidden","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Forbidden","details":"Not authorized to access this resource","code":403}}},"404":{"description":"Not Found","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Not Found","details":"System not found for {:id=\u003e\"1\"}","code":404}}},"405":{"description":"Method Not Allowed","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"405","message":["Method not allowed"]}}},"422":{"description":"Unprocessable Entity","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"}}},"examples":{"application/json":{"message":"Unprocessable Entity","details":"Requested date range is invalid for this system","code":422}}},"429":{"description":"Too Many Requests","schema":{"type":"object","properties":{"message":{"type":"string","description":"Error Type"},"details":{"type":"string","description":"Error Details"},"code":{"type":"integer","description":"Error Code"},"period":{"type":"string","description":"Quota exceeded for minute/month"},"period_start":{"type":"integer","description":"Starting period timestamp"},"period_end":{"type":"integer","description":"Ending period timestamp"},"limit":{"type":"integer","description":"Limit count for the period"}}},"examples":{"application/json":{"message":"Too Many Requests","details":"Usage limit exceeded for plan Kilowatt","code":429,"period":"minute","period_start":1623825660,"period_end":1623825720,"limit":5}}},"501":{"description":"Not Implemented","schema":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"array","items":{"type":"string"}}}},"examples":{"application/json":{"reason":"501","message":["Not Implemented"]}}}}}},"/api/v4/systems/{system_id}/battery_lifetime":{"get":{"summary":"battery_lifetime","description":"Returns a daily time series of energy charged into the batteries and energy discharged from the batteries for a system over its lifetime. All measurements are in Watt hours. The time series includes one entry for each day from the start_date to the end_date with no gaps in the time series. If the response includes trai
[...]
