{"openapi":"3.0.1","info":{"title":"API Reference","description":"Integrate the VPP API into your application","version":"1.1.0"},"servers":[{"url":"https://vpp.enphaseenergy.com"}],"paths":{"/api/v1/vpps/{vpp_id}":{"get":{"tags":["Manage VPPs"],"summary":"Retrieve details of a VPP","description":"Returns details of a VPP based on the inputted vpp_id.\nThe API provides information on VPP created and update time along with the systems count,\nsystems list, total energy in kWh and total power in kW.\nIf no VPP is associated with the id, a 404 will be returned.\n","operationId":"getVPPByKey","parameters":[{"name":"fetchLatestValues","in":"query","description":"Set to true to fetch the latest values for available_power and available_energy.Defaults to false.","required":false,"schema":{"type":"boolean","default":false}},{"name":"vpp_id","in":"path","description":"Unique ID of the VPP","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"VPP retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GsApiVPP"},"example":{"name":"All Systems*","query":{"tags":{"POSTAL_CODE":["T3L 2G9"],"STATE":["RI"]},"operator":"AND"},"vpp_id":"All Systems*_Demo_Test_Program_Demo_Utility_MA","created_at":"2022-02-17T12:59:32.161+00:00","updated_at":"2022-04-19T17:00:00.768+00:00","total_energy_kwh":0,"total_power_kw":0,"available_energy_kwh":0,"available_power_kw":0,"site_ids":[]}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"VPP not found with key XYZ\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Account Id does not match with VPP Creator\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"put":{"tags":["Manage VPPs"],"summary":"Update an existing VPP in a program","description":"Update an existing VPP in a program based on the inputted VPP_ID.\nThe update can be done by grouping sites based on system-defined parameters\nsuch as STATE, CITY, SITE_IDS, and ZIP/POSTAL_CODE (only one of ZIP or postal code).\nFor each parameter, if multiple values are specified, 'OR' is used as the operator.\nFor example, if multiple ZIP/POSTAL_CODE values are specified, all sites in those areas\nwill be part of the VPP. 'All systems' VPP that is created by default during program\ncreation cannot be updated.\n","operationId":"updateVPP","parameters":[{"name":"vpp_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VPPUpdateRequest"},"examples":{"example-0":{"value":"{\n    \"query\": {\n    \"tags\": {\n    \"STATE\": [\n    \"RI\"\n    ],\n    \"POSTAL_CODE\" : [\"T3L 2G9\"]\n    },\n    \"operator\": \"AND\"\n    }\n}\n"},"example-1":{"value":"{\n    \"query\": {\n    \"tags\": {\n    \"STATE\": [\n    \"RI\"\n    ],\n    \"ZIP\" : [\"T3L 2G9\"]\n    },\n    \"operator\": \"AND\"\n    }\n}\n"},"example-2":{"value":"{\n\t\"query\": {\n\t\t\"tags\": {\n\t\t\t\"SITE_IDS\": [\n\t\t\t\t\"13487\",\n\t\t\t\t\"54688\",\n\t\t\t\t\"954859\"\n\t\t\t]\n\t\t},\n\t\t\"operator\": \"OR\"\n\t}\n}\n"}}}},"required":true},"responses":{"200":{"description":"VPP updated successfully","content":{"*/*":{"schema":{"type":"string"},"example":"VPP: {test} updated successfully!"}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Query cannot be empty\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"VPP state: XYZ is outside the progam state: XY\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Tags in Query aren't valid. Valid tags are [STATE, CITY, ZIP, POSTAL_CODE, SITE_IDS]\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"VPP not found with key XYZ\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Account Id does not match with VPP Creator\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Permission Denied to update the VPP\",\r\n  \"additionalInfo\": \"You are not allowed to update All Systems* VPP. Please contact your service provider.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"delete":{"tags":["Manage VPPs"],"summary":"Delete VPP by vpp id","description":"Delete an existing VPP in a program based on the inputted VPP_ID.\n'All systems' VPP that is created by default during program creation cannot be deleted.\n","operationId":"deleteVPPByKey","parameters":[{"name":"vpp_id","in":"path","description":"Unique ID of the VPP","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"VPP deleted successfully","content":{"*/*":{"schema":{"type":"string"},"example":"VPP with id ABC test vpp ABC_Test_Program_ABC deleted successfully"}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Permission Denied to delete the VPP\",\r\n  \"additionalInfo\": \"You are not allowed to delete All Systems* VPP. Please contact your service provider.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"VPP not found with key XYZ\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Account Id does not match with VPP Creator\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/systems/{site_id}/stop_live_stream":{"put":{"tags":["System and Device Configuration"],"summary":"Stop the live stream for an enrolled site","operationId":"stopStream","parameters":[{"name":"site_id","in":"path","description":"Unique Id of the site","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Stopped stream for the site","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopStreamResponse"}},"example":[{"serial_number":"122116009243","status":"DEREGISTRATION_INITIATION_SUCCESSFUL"},{"serial_number":"122116009245","status":"DEREGISTRATION_INITIATION_SUCCESSFUL"}]}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"additionalInfo\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Site eSW version does not support live telemetry data\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/systems/{site_id}/start_live_stream":{"put":{"tags":["System and Device Configuration"],"summary":"Start the live stream for an enrolled site","operationId":"startStream","parameters":[{"name":"site_id","in":"path","description":"Unique Id of the site","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Started stream for the site","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StartStreamResponse"}},"example":[{"serial_number":"122116009243","status":"REGISTRATION_INITIATION_SUCCESSFUL"},{"serial_number":"122116009245","status":"REGISTRATION_INITIATION_SUCCESSFUL"}]}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"additionalInfo\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Live telemetry data is not enabled for this program\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Site eSW version does not support live telemetry data\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/systems/{site_id}/settings":{"get":{"tags":["System and Device Configuration"],"summary":"Fetch site settings for an enrolled site","operationId":"getSiteSettings","parameters":[{"name":"site_id","in":"path","description":"Unique Id of the site","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Fetched site settings for an enrolled site","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SiteSettingsResponseDTO"},"example":{"vpp_event_reserve_soc":20}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"additionalInfo\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"put":{"tags":["System and Device Configuration"],"summary":"Update site settings for an enrolled site","operationId":"updateSiteSettings","parameters":[{"name":"site_id","in":"path","description":"Unique Id of the site","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservedSOCUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Update site settings for an enrolled site","content":{"*/*":{"example":"Enrolled site's settings updated successfully\n"}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Bad Request\",\r\n  \"additionalInfo\": \"reserved_soc: must be less than or equal to 100\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Bad Request\",\r\n  \"additionalInfo\": \"reserved_soc: must be greater than or equal to 0\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Bad Request\",\r\n  \"additionalInfo\": \"Site is enrolled in a program in which settings update is not allowed.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"additionalInfo\": \"Site is not enrolled in any program which belongs to your account.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/events/{event_id}":{"get":{"tags":["Events"],"summary":"Retrieve details of a specific event","description":"Returns event details based on the inputted event_id. The API will return event status, command delivery status along with all the parameters specified as inputs during event creation","operationId":"getEventDetails","parameters":[{"name":"event_id","in":"path","description":"Unique Id of the event","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Event details retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GsApiVppEventResponse"},"examples":{"EventDetailExample":{"summary":"Sample event detail response","description":"EventDetailExample","value":{"event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203c","name":"Event 202203241315","program_id":"test","events":[{"site_id":"698934045","event_status":"completed","start_time":"2022-03-24T13:15:00.000+00:00","end_time":"2022-03-24T13:30:00.000+00:00","created_at":"2022-03-24T11:15:00.000+00:00","completed_at":"2022-03-24T13:30:00.000+00:00","function":"BATTERY","mode":"Discharge_To_Load_Grid","target_soc":10,"rate_watt":1200,"command_delivery_status":"Delivered","superseded":false}]}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You cannot access this event\",\r\n  \"additionalInfo\": \"This event is not belongs to programs which are mapped to your account\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No events found\",\r\n  \"additionalInfo\": \"No events found for event_id:f75b0ada-ee9b-4cdb-b0f1-b915267d203c\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"put":{"tags":["Events"],"summary":"Update an existing Event in a program","description":"Update an existing event in a program based on the inputted event_id. For an event, only rate_watt and target_soc are allowed to be updated and updation of an event is allowed only upto 1 minute before event start time.","operationId":"updateEvent","parameters":[{"name":"event_id","in":"path","description":"Unique ID of the Event","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventUpdateRequest"},"examples":{"example-0":{"value":"{\n    \"target_soc\":10,\n    \"rate_watt\": 3000\n}\n"}}}},"required":true},"responses":{"200":{"description":"Event updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"},"examples":{"SuccessfulUpdate":{"summary":"Sample response for updated event","description":"SuccessfulUpdate","value":{"message":"Event updated successfully","event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203c","name":"Event 202204061130","no_of_sites":1,"program_id":"test","total_watts":1200}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"rate_watt out of range\",\r\n  \"additionalInfo\": \"rate_watt cannot be less than 0 when its value is provided\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Event cannot be updated right now because site info is not available for some site\",\r\n  \"additionalInfo\": \"Event cannot be updated right now because site info is not available for some site. Gateways list is null or blank site_id 12345\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Target SOC : xx is less than minimum target SOC for abcd. Minimum target SOC = yy\",\r\n  \"additionalInfo\": \"Target SOC : xx is less than minimum target SOC for abcd. Minimum target SOC = yy\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Target SOC : xx is more than maximum target SOC for abcd. Maximum target SOC = zz\",\r\n  \"additionalInfo\": \"Target SOC : xx is more than maximum target SOC for abcd. Maximum target SOC = zz\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Default target_soc is xx for this program with no option to override\",\r\n  \"additionalInfo\": \"Default target_soc is xx for this program with no option to override\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"rate_watt needs to be at least 20% of total available power for the selected VPPs/Site group. Total available power = xxxx W\",\r\n  \"additionalInfo\": \"rate_watt needs to be at least 20% of total available power for the selected VPPs/Site group. Total available power = xxxx W\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"rate_watt should be less than total available VPPs/Site group's cumulative Power. Total available power = xxxx W\",\r\n  \"additionalInfo\": \"rate_watt should be less than total available VPPs/Site group's cumulative Power. Total available power = xxxx W\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Default rate_watt is xxxx W with no option to override\",\r\n  \"additionalInfo\": \"Default rate_watt is xxxx W with no option to override\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-8":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-9":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-10":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-11":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-12":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You cannot access this event\",\r\n  \"additionalInfo\": \"This event is not belongs to programs which are mapped to your account\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No events found\",\r\n  \"additionalInfo\": \"No events found for event_id:f75b0ada-ee9b-4cdb-b0f1-b915267d203c\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Only scheduled events can be updated\",\r\n  \"additionalInfo\": \"Only scheduled events can be updated. This event status is xyz\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"delete":{"tags":["Events"],"summary":"Cancel or End Event","description":"The API can be used to cancel a scheduled event or end an ongoing event in a program. An event that is either completed or already cancelled cannot be cancelled or ended.","operationId":"cancelEvent","parameters":[{"name":"event_id","in":"path","description":"Unique ID of the event","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Event cancelled successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"},"examples":{"successExample":{"summary":"Sample response","description":"successExample","value":{"message":"Event cancelled successfully","event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203c","name":"Event 202204061130","no_of_sites":1,"program_id":"test","total_watts":1200}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Only scheduled or in_progress events can be deleted\",\r\n  \"additionalInfo\": \"Only scheduled or in_progress events can be deleted. This event status is xyz\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Cancellation request is already submitted/in_progress/completed for this event\",\r\n  \"additionalInfo\": \"Cancellation request is already submitted/in_progress/completed for this event. Cancellation request status is xyz\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You cannot access this event\",\r\n  \"additionalInfo\": \"This event is not belongs to programs which are mapped to your account\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Upcoming event cancellation is not allowed for this program\",\r\n  \"additionalInfo\": \"Upcoming event cancellation is not allowed for this program. Please check program feature flags\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Ongoing event ending is not allowed for this program\",\r\n  \"additionalInfo\": \"Ongoing event ending is not allowed for this program. Please check program feature flags\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No events found\",\r\n  \"additionalInfo\": \"No events found for event_id:f75b0ada-ee9b-4cdb-b0f1-b915267d203c\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/events/optout/{event_id}":{"put":{"tags":["Events"],"summary":"Optout-Optin site from the event","description":"Optout/Optin site from the event. Site can be opted out only for the scheduled events.\nOptout/Optin is allowed only up to 1 minute before the event start time.\n","operationId":"optOutOptInEvent","parameters":[{"name":"event_id","in":"path","description":"Unique ID of the Event","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"requestBody":{"description":"Optout-Optin event details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventOptoutOptinRequest"},"examples":{"example-0":{"value":"{\n    \"site_id\": 12345,\n    \"optout\":true\n}\n"}}}},"required":true},"responses":{"200":{"description":"Site Opted Out successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventOptoutOptinResponse"},"examples":{"OptoutSuccessExample":{"description":"OptoutSuccessExample","value":{"message":"Site Opted Out successfully","event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203c","site_id":12345}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"site_id cannot be null\",\r\n  \"additionalInfo\": \"site_id cannot be null. please provide site_id which needs to be opt out/opt in from the event\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"optout cannot be null\",\r\n  \"additionalInfo\": \"optout cannot be null. please provide true for optout site from the event and false for optin site to the event\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You cannot access this event\",\r\n  \"additionalInfo\": \"This event is not belongs to programs which are mapped to your account\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No events found\",\r\n  \"additionalInfo\": \"No events found for event_id:f75b0ada-ee9b-4cdb-b0f1-b915267d203c\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No event found for this site_id\",\r\n  \"additionalInfo\": \"No events found for event_id:f75b0ada-ee9b-4cdb-b0f1-b915267d203c and site_id:12345\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Only scheduled events can be opted out or opted in\",\r\n  \"additionalInfo\": \"Only scheduled events can be opted out or opted in. This event status is xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"This site is already opted out\",\r\n  \"additionalInfo\": \"This site is already opted out\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"This site is already opted in\",\r\n  \"additionalInfo\": \"This site is already opted in\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Event cannot be opted out/opted in because its start time is within x minutes from current time\",\r\n  \"additionalInfo\": \"Event cannot be opted out/opted in because its start time is within x minutes from current time\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/applications/{site_id}":{"get":{"tags":["Applications"],"summary":"Retrieve an application","description":"Returns application based on the inputted site_id. Provides details of the application along with the application status. The forms sent while creation of the application will not be returned.","operationId":"getApplicationBySiteId","parameters":[{"name":"site_id","in":"path","description":"site_id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Application details retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GsApiApplication"},"examples":{"Sample Response":{"description":"Sample Response","value":{"site_id":698933755,"program_id":"test","application_id":10130,"application_status":"Application_Submitted","created_at":"2022-03-24T06:47:37.000+00:00","application_type":"unenrollment","site_info":{"city":"Newport","state":"RI","ean":"12345","zip":2840,"first_name":"TestUser","last_name":"S","country":"USA","postal_code":"2840"}}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No applications found\",\r\n  \"additionalInfo\": \"There is no application found for the site_id : 12345\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}},"put":{"tags":["Applications"],"summary":"Update a rejected application","description":"Updates a rejected application based on the inputted site_id. Application will be rejected if the site's state is different from the program state or if the site is enrolled in another program or if there is incorrect information in the application form. The API can be used to re apply by sending updated application forms.  Application body in string is mandatory. It needs to be in format {\"site_id\":site_id_value as integer, \"program_id\":\"program_id_value as string\", \"ean\":\"electric account number as string optional\"}","operationId":"updateApplication","parameters":[{"name":"site_id","in":"path","description":"Site Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"application_form":{"type":"string","description":"Application Body as a String. Format {\"site_id\":12345, \"program_id\":\"test\", \"ean\":\"112233\"}"},"signed_enrollment_form":{"type":"string","description":"Signed Enrollment Form URL","format":"binary"},"signed_tandc_form":{"type":"string","description":"Signed TandC Form URL","format":"binary"},"signed_form1":{"type":"string","description":"Signed Form1","format":"binary"},"signed_form2":{"type":"string","description":"Signed Form2","format":"binary"}}}}}},"responses":{"200":{"description":"Application updated successfully","content":{"*/*":{"schema":{"type":"string"},"examples":{"Success":{"description":"Success","value":"Application ID : 12345 for site with site_id = 658967 updated successfully!"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Multipart File Upload Error\",\r\n  \"additionalInfo\": \"the request was rejected because no multipart boundary was found\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Bad request, File format is not supported\",\r\n  \"additionalInfo\": \"File Format Not Allowed\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Bad request, Not enough details in Application body\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"request is invalid with user mail XXXX and application: XXXX\",\r\n  \"additionalInfo\": \"Request is malformed.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"User with user_email xxxxx not found or user not part of account with XXXX\",\r\n  \"additionalInfo\": \"Error while creating new application\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Input application object or forms format check failed.\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Max Upload Size Exceeded\",\r\n  \"additionalInfo\": \"Maximum upload size exceeded; nested exception is java.lang.IllegalStateException: org.apache.tomcat.util.http.fileupload.impl.FileSizeLimitExceededException: The field xxxxx exceeds its maximum permitted size of nnnnnn bytes.\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-8":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-9":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-10":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-11":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Only rejected applications can be updated\",\r\n  \"additionalInfo\": \"Update not feasible as application is in status : XYZ\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Program does not have a workflow attached , application creation not possible for xxxxx\",\r\n  \"additionalInfo\": \"Error while creating new application\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No Persmission to access application with ID: XXX by accountId: XXXX\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No Persmission to udpate application with ID: XXXX  and status: XXXX\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-8":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-9":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Application not found with site_id xxxxx in your account\",\r\n  \"additionalInfo\": \"Application not found with site_id xxxxx in your account\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No site found for xxxxx\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No Application available with Id : XXXX\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Application update not possible, no such element found\",\r\n  \"additionalInfo\": \"User info error : couldn’t find user obj for usermail: XXXX and accountID: XXXX\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v1/applications/{site_id}/withdraw":{"put":{"tags":["Applications"],"summary":"Withdraw an application that is not yet approved","description":"Withdraw an application from a program based on the inputted site_id.\n\n Applications that are already approved cannot be withdrawn.\n","operationId":"withdrawApplication","parameters":[{"name":"site_id","in":"path","description":"Site Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"program_id","in":"query","description":"Unique ID of the program","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"Application withdrawn successfully","content":{"*/*":{"schema":{"type":"string"},"examples":{"Success":{"description":"Success","value":"Application ID : 12345 for site with site_id = 658967 withdrawn successfully!"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Application Withdraw not possible for siteId xxxxx\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"Application Update not possible for siteId xxxxx\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Please provide valid Program ID\",\r\n  \"additionalInfo\": \"Please provide valid Program ID\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"No Application available for site with Id: xxxxxin program : xxxxx\",\r\n  \"additionalInfo\": null,\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/auth/oauth2/token":{"post":{"tags":["Auth"],"summary":"Generate OAuth 2.0 access token","description":"Pass clientId:clientSecret as Base64 encoded value in Authorization header, grant type as client_credentials, Content-Type as application/x-www-form-urlencoded and Accept as application/json . Access token expire 3600 seconds after they are created and must be regenerated through the same process","operationId":"getToken","parameters":[{"name":"Authorization","in":"header","description":"clientId:clientSecret Base64 encoded value","required":true,"schema":{"type":"string"}},{"name":"Content-Type","in":"header","description":"application/x-www-form-urlencoded","required":true,"schema":{"type":"string","default":"application/x-www-form-urlencoded"}},{"name":"Accept","in":"header","description":"application/json","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"grant_type","in":"query","description":"client_credentials","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Access Token generated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccessTokenResponse"},"examples":{"Sample Access Token":{"description":"Sample Access Token","value":{"access_token":"eyJraWQiOiJDOVVLejVySmlZZWlYc1MxWHk4b2MxUUxTZ1c3KzN0bm1PdUFSdlRmSVp3PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiI3aGVsZmVsY3Nh","expires_in":3600,"token_type":"Bearer"}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid parameter or headers\",\r\n  \"additionalInfo\": \"Query parameter grant_type must be client_credentials. Request header Content-Type must be application/x-www-form-urlencoded. Request header Accept must be application/json. Request header Authorization must be Base64 encoded value of clientId:clientSecret. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Request headers or parameters are not appropriate. Please check request headers and parameters\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"grant_type is not provided or invalid\",\r\n  \"additionalInfo\": \"grant_type is not provided or invalid. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"Authorization is not provided or invalid\",\r\n  \"additionalInfo\": \"Authorization is not provided or invalid. Please check your Authorization\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"401\",\r\n  \"displayMessage\": \"You are not authorized for this access\",\r\n  \"additionalInfo\": \"You are not authorized for this access. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"message\": \"Forbidden\"\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not provided or invalid\",\r\n  \"additionalInfo\": \"x-api-key is not provided or invalid. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"No account found for specified Authorization\",\r\n  \"additionalInfo\": \"No account found for specified Authorization. Please check your access_token\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"x-api-key is not valid for this account\",\r\n  \"additionalInfo\": \"x-api-key is not valid for this account. Please check your x-api-key\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"403\",\r\n  \"displayMessage\": \"You do not have access to this resource\",\r\n  \"additionalInfo\": \"You do not have access to this resource. Please check your access\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"404":{"description":"Not Found","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"404\",\r\n  \"displayMessage\": \"Requested resource Not Found\",\r\n  \"additionalInfo\": \"Requested resource Not Found. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"422\",\r\n  \"displayMessage\": \"Unprocessable Entity\",\r\n  \"additionalInfo\": \"Unprocessable Entity. Please check your request\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"}}}}}}}},"/api/v2/events":{"get":{"tags":["Events"],"summary":"Retrieve all events in a program","description":"Returns a paginated list of all events in a program and total count of events based on the inputted program_id","operationId":"getEvents","parameters":[{"name":"program_id","in":"query","description":"Unique ID of the program","required":true,"schema":{"type":"string"}},{"name":"page_no","in":"query","description":"Page to be returned. Default=1, Min=1. For example, if page_no is set to 2, 2nd page is returned","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"page_size","in":"query","description":"Maximum number of records shown per page. Default=10, Min=1, Max=100. For example, if max is set to 5, 5 records are shown per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":10}},{"name":"start_date","in":"query","description":"Start date for fetching the events list in yyyy-MM-dd format. If start_date is not specified, will be defaulted to today's date","required":false,"schema":{"type":"string"}},{"name":"end_date","in":"query","description":"End date for fetching the events list in yyyy-MM-dd format. If end_date is not specified, will be defaulted to start_date + 7 days. Date range is restricted to a maximum of 30 days","required":false,"schema":{"type":"string"}},{"name":"site_id","in":"query","description":"Site Id to fetch corresponding events","required":false,"schema":{"type":"string"}},{"name":"event_status","in":"query","description":"Event Status to fetch corresponding events. Event statuses can be one of them: scheduled, in_progress, completed, stopped, failed, deleted, optedout","required":false,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Unique API Key of your account","required":true,"schema":{"type":"string"},"example":"your-api-key-here"},{"name":"Authorization","in":"header","description":"access_token generated from auth API must be passed as Authorization header","required":true,"schema":{"type":"string"},"example":"Bearer your-access-token"}],"responses":{"200":{"description":"All the events are retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventsListResponse"},"examples":{"EventsListExample":{"summary":"Sample events list","description":"EventsListExample","value":{"program_id":"test","total_count":3,"eventList":[{"event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203c","name":"Event 202403241315","program_id":"test","events":[{"site_id":"698934045","event_status":"scheduled","start_time":"2024-03-24T13:15:00.000+00:00","end_time":"2024-03-24T13:30:00.000+00:00","created_at":"2024-03-24T11:15:00.000+00:00","functions":["BATTERY"],"duration":15,"mode":"Discharge_To_Load_Grid","target_soc":10,"rate_watt":1200,"command_delivery_status":"Scheduled","measuring_reference":"ASSET"}]},{"event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203d","name":"Event 202403241315","program_id":"test","events":[{"site_id":"698934046","event_status":"scheduled","start_time":"2024-03-24T13:15:00.000+00:00","end_time":"2024-03-24T13:30:00.000+00:00","created_at":"2024-03-24T11:15:00.000+00:00","functions":["BATTERY"],"duration":15,"mode":"Discharge_To_Load_Grid","target_soc":10,"rate_watt":1200,"command_delivery_status":"Scheduled","measuring_reference":"ASSET"}]},{"event_id":"f75b0ada-ee9b-4cdb-b0f1-b915267d203d","name":"Event 202403241315","program_id":"test","events":[{"site_id":"698934046","evse_serial_no":"7345120","event_status":"scheduled","start_time":"2024-03-24T13:15:00.000+00:00","end_time":"2024-03-24T13:30:00.000+00:00","created_at":"2024-03-24T11:15:00.000+00:00","functions":["EVSE"],"duration":15,"mode":"Charge","rate_watt":1200,"command_delivery_status":"Scheduled","measuring_reference":"ASSET"}]}]}}}}}},"400":{"description":"Bad Request","content":{"*/*":{"examples":{"case-0":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Pagination variables are incorrect\",\r\n  \"additionalInfo\": \"Pagination variables are incorrect. Page number should starts from 1 and page size should be between 1 and 100\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-1":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid start_date format\",\r\n  \"additionalInfo\": \"start_date format is invalid. start_date must be in yyyy-MM-dd format\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-2":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid end_date format\",\r\n  \"additionalInfo\": \"end_date format is invalid. end_date must be in yyyy-MM-dd format\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-3":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid date range\",\r\n  \"additionalInfo\": \"Date range is invalid. end_date must be after start_date\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-4":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid date range\",\r\n  \"additionalInfo\": \"Date range is invalid. end_date cannot be more than 30 days from start_date\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-5":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid siteId\",\r\n  \"additionalInfo\": \"Site Id must be an integer\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-6":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Invalid event status\",\r\n  \"additionalInfo\": \"Event statuses can be scheduled, in_progress, completed, stopped, failed, deleted, optedout\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-7":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Type Mismatch\",\r\n  \"additionalInfo\": \"Cannot cast the parameter to required type xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-8":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Missing Parameter\",\r\n  \"additionalInfo\": \"Required xxx parameter abc is not present\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-9":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Constraint Violation\",\r\n  \"additionalInfo\": \"xxxx\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-10":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Content-Type invalid\",\r\n  \"additionalInfo\": \"Content type xxx not supported\",\r\n  \"errorRefNo\": \"e20fdf9aa241bea9\",\r\n}"},"case-11":{"value":"{\r\n  \"code\": \"400\",\r\n  \"displayMessage\": \"Request headers or parameters are not appropriate\",\r\n  \"additionalInfo\": \"Re
[...]
